/* 

  Estilos Globales

  Aqui vamos a definir estilos y variables que se reutilicen en todo el sitio.


*/

:root {
  --light-color: #FFFFFF ;
  --white-color: #FAF7F4 ;
  --dark-color: #000000 ;
  --blue-color: #147D89 ;
  --purple-color: #5B2BE5 ;
  --degradadoapple-color: linear-gradient(#208FF8, #AB65FB, #F4482E) ;

  --font-primary: 'SFPRODISLAY' ;
}

body {
  font-family: var(--font-primary);
  background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--dark-color);
}